:root {
    --bg-100: #5900D9;
    --bg-200: #250D4E;
    --bg-300: #19122E;
    --bg-400: #0E0821;
    --bg-500: #08031d;
    --bg-600: #060013;

    --stroke-100: #7A42CB;
    --stroke-200: #360083;
    --stroke-300: #181131;

    --text-50: #F6F5F7;
    --text-100: #E2E1E7;
    --text-200: #D4D3DB;
    --text-300: #C0BFCA;
    --text-400: #B4B2C0;
    --text-500: #A19FB0;
    --text-600: #9391A0;
    --text-700: #72717D;
    --text-800: #595761;
    --text-900: #44434A;

    --navbar-height: 84px;
}

.text-50 {
    color: var(--text-50);
}

.text-100 {
    color: var(--text-100);
}

.text-200 {
    color: var(--text-200);
}

.text-300 {
    color: var(--text-300);
}

.text-400 {
    color: var(--text-400);
}

.text-500 {
    color: var(--text-500);
}

.text-600 {
    color: var(--text-600);
}

.text-700 {
    color: var(--text-700);
}

.text-800 {
    color: var(--text-800);
}

.text-900 {
    color: var(--text-900);
}

.fs-sm {
    font-size: 1.15rem; /* 18px */
    line-height: 1.4;
}

.fs-xxl {
    font-size: clamp(2rem, 2vw + 1rem, 3rem); /* 24px */
    line-height: 1.2;
}

.fs-xxxl {
    font-size: clamp(2.5rem, 2vw + 1rem, 4rem); /* 32px */
    line-height: 1.2;
}

.mt-6 {
    margin-top: 4rem !important;
}

.mt-7 {
    margin-top: 5rem !important;
}

.mt-8 {
    margin-top: 6rem !important;
}

.mt-9 {
    margin-top: 8rem !important;
}

.mt-10 {
    margin-top: 10rem !important;
}

.mt-11 {
    margin-top: 14rem !important;
}

.mt-12 {
    margin-top: 20rem !important;
}

.gap-6 {
    gap: 4rem !important;
}

.gap-7 {
    gap: 5rem !important;
}

.gap-8 {
    gap: 6rem !important;
}

.gap-9 {
    gap: 8rem !important;
}

.gap-10 {
    gap: 10rem !important;
}

.gap-11 {
    gap: 14rem !important;
}

.gap-12 {
    gap: 20rem !important;
}

.glow {
    width: 100%;
    height: 100vh;
    content: " ";
    position: fixed;
    z-index: -2;
    background: radial-gradient(circle at 50% 0, rgba(150, 84, 244, 0.25) 0, rgba(41, 0, 100, 0.25) 70%);
    mask: radial-gradient(circle at 50% 0, black 0, transparent 70%);
    right: 0;
    top: 0;
}

body, html {
    overflow-x: hidden;
}

.body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-500);
    color: var(--text-50);
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    position: fixed !important;
    top: 0 !important;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.language-dropdown-toggle[aria-expanded="true"] {
    background: var(--bg-300);
}

.language-dropdown-chevron {
    transition: transform 0.2s;
}

.language-dropdown-toggle[aria-expanded="true"] .language-dropdown-chevron {
    transform: rotate(180deg);
}

.footer__links a {
    color: var(--text-200) !important;
    transition: all 0.2s;
}

.footer__links a:hover {
    color: var(--text-50) !important;
}
